@import url("https://fonts.googleapis.com/css?family=Mukta&display=swap");
body {
  font-family: "Mukta", sans-serif;
  cursor: default;
  margin: 0px;
  padding: 0px;
}
.tc {
  text-align: center;
}
.bt0
{
  bottom:0px;
}
.vam
{
  vertical-align: middle;
}
.brx100 {
  border-radius: 100px;
}
.ma {
  margin: auto;
}
.db {
  display: block;
}
.mt20 {
  margin-top: 20px;
}
.clr08c2 {
  color: #db5461;
}
.pf
{
  position: fixed;
}
.bgclr08c2 {
  background-color: #db5461;
}
.slash {
  padding: 0px 8px 0px 8px;
  font-size: 40px;
}
.w100
{
  width: 100%;
}
p {
  margin: 0;
}
.w400 {
  width: 400px;
}
  .dib {
    display: inline-block;
  }
  .fr {
    float: right;
  }
  .fl {
    float: left;
  }

  @media only screen and (max-width: 650px) {
    .card {
      position: relative;
      background: #fff;
      padding: 15px;
      overflow: hidden;
      margin: 20px auto 0 auto;
      text-overflow: ellipsis;
    }
    .pageTitle {
      margin: 25px;
      padding: 0;
      font-size: 2em;
    }
    .top {
      background: #756f6c24;
      height: 120px;
    }
    .newsList p {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
    .card h2 {
      color: #db5461;
      text-decoration: none;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
    .card h1 {
      color: #db5461;
      text-decoration: none;
      font-size: 25px;
      margin: 0;
    }
  }
  
  @media only screen and (min-width: 650px) {
    .card {
      position: relative;
      background: #fff;
      padding: 40px;
      width: 650px;
      margin: 20px auto 0 auto;
      box-shadow: 0 2px 4px rgba(100, 100, 100, 0.71);
    }
    .pageTitle {
      margin: 40px;
      padding: 0;
      font-size: 3em;
    }
    .top {
      background: #756f6c24;
      height: 180px;
    }
    .card h2 {
      color: #db5461;
      text-decoration: none;
    }
  
    .card h1 {
      color: #db5461;
      text-decoration: none;
      font-size: 35px;
      font-weight: 500;
      margin: 0;
    }
  }
  .card h2 {
    font-weight: 500;
    margin: 0;
  }
  .card .date {
    color: #9e9e9e;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .bgBlack
  {
    background-color: #212121;

  }
  .card .text {
    color: #212121;
    margin-top: 20px;
    font-size: 15px;
    line-height: 22px;
  }
  

  .mb20 {
    margin-bottom: 20px;
  }
  .wrapper {
    position: relative;
    clear: both;
    margin: 0 auto 30px auto;
    width: 100%;
    overflow: hidden;
  }
  
  .top .title {
    width: 700px;
    margin: 38px auto 0 auto;
  }
  
  .title h1 {
    font-size: 24px;
    color: #fff;
    font-weight: 500;
  }
  
  .content {
    padding-bottom: 20px;
  }
  
  .content .card.first {
    margin-top: -35px;
  }

  

  li {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  a {
    text-decoration: none;
    color: #212121;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  p {
    font-size: large;
  }

    .card:hover {
      background: #434343;
      letter-spacing: 0.1px;
      color: #fff;
      -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
      -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
      box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
      transition: all 0.4s ease 0s;
      }
.mt10{
  margin-top: 10px;
}

.feedImg
{
  max-width: 100%;
  height: auto;
  padding: 10px;
}
